.highlight-text{
    color: var(--btn-primary-bg);
    font-size: 3em;
}

.highlight-desc{
    font-size: 1.5em;
    color: white;
}

.main-highlight{
    margin: 5% 0%;
}

@media only screen and (max-width: 600px) {
    .highlight-text{
        font-size: 1.5em;
        text-align: center;
    }

    .highlight-desc{
        font-size: 1em;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .highlight-text{
        font-size: 2.5em;
        text-align: center;
    }

    .highlight-desc{
        font-size: 1.25em;
        text-align: center;
    }
}